@tailwind base;
@tailwind components;
@tailwind utilities;


*::selection {
    background: #eee;
    color: #656565
}


:root {

}

body {
    scroll-behavior: smooth;
}
@layer components {
    body {
        @apply bg-[#ededed];
    }
    .badge {
        @apply font-vaizir px-2 py-1;
    }

    .badge-green {
        @apply bg-gradient-to-tr font-sans from-green-500 to-lime-500 py-1 px-2 rounded text-white shadow ltr:mr-1 rtl:ml-1;
    }
    .badge-blue {
        @apply font-sans text-gray-600 py-1 px-2 rounded-full shadow;
        background: linear-gradient(145deg, #ffffff, #e6e6e6);
        box-shadow:  5px 5px 29px #e6e6e6,
        -5px -5px 29px #ffffff;
    }
    .badge-basic {
        @apply bg-gradient-to-tr from-gray-100 to-gray-200 px-2 mx-1 font-sans rounded shadow font-bold;
    }
    .main {
        @apply max-w-2xl h-screen mx-auto px-3 md:px-0
    }
    .card {
        @apply w-full bg-[#f9f9f9] text-gray-800 md:w-[700px] shadow-2xl shadow-stone-300 py-7 px-5 rounded-3xl;
        box-shadow: 15.92px 15.92px 54px #D6D8DC, -15.92px -15.92px 54px #FFFFFF;
        /* box-shadow:  -34px 34px 64px #dfdfdf,
        34px 34px 64px #e5e5e5; */
    }

    .title {
        @apply text-xl md:text-2xl font-cairo font-bold text-stone-600 border-b pb-1;
    }
}
